Language: Cpp
ColumnLimit: 180
Standard: c++20
SeparateDefinitionBlocks: Always
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -2
InsertNewlineAtEOF: true
SpacesInAngles: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: false
AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: Inline
CompactNamespaces: true